{% extends 'base.html.twig' %}

{% block body %}

    {% for draw  in draws %}
        <h1>
            {{ dump(draw.post) }}
            <img src="{{ asset('uploads/draws/' ~ draw.post) }}"/>
        </h1>
    {% endfor %}

{% endblock %}