{% extends 'base.html.twig' %}

{% block body %}

    {% for draw  in draws %}
        <div>
        <img src="{{ asset( 'uploads/draws/' ~ draw.post) }}" height="150"/><br>
        {{ draw.name }}<br>
        {{ draw.description }}
        </div>
    {% endfor %}

{% endblock %}